* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display-book {
  border: 2px solid black;
  margin: 1rem;
}

.books::after {
  content: '';
  border-bottom: 2px solid #000;
  margin: 1rem auto;
  width: 15%;
  display: block;
}

input {
  width: 100%;
}

h1,
h2 {
  text-align: center;
}

.book-item {
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

.book-item:nth-child(odd) {
  background-color: #eee;
}

.add-book {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-add {
  display: flex;
  justify-content: right;
}

a.active {
  color: blue;
}

section:not(.active) {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  align-items: center;
  margin: 1rem;
}

ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  align-items: center;
}

ul li {
  padding: 1rem;
}

ul li:not(:last-child) {
  border-right: 2px solid black;
}

.time {
  text-align: right;
  margin: 1rem;
}

footer div {
  margin: 1rem;
  border: 2px solid black;
}
